# Unity generated folders
.utmp/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Pp]rofiler[Cc]aptures/
[Mm]emoryCaptures/
[Rr]ecordings/
ExportedObj/
.gradle/

# Generated Unity/editor content
[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user
*.unityproj
mono_crash.*
InitTestScene*.unity*
[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
[Aa]ssets/[Ss]ceneDependencyCache*

# Addressables generated content
ServerData/
[Aa]ssets/StreamingAssets/aa*
[Aa]ssets/AddressableAssetsData/link.xml*
[Aa]ssets/Addressables_Temp*
[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting generated content
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# IDE and editor files
.vs/
.idea/
.vscode/
*.csproj
*.csproj.user
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

# Unity-generated metadata and crash files
sysinfo.txt
*.pidb.meta
*.pdb.meta
*.mdb.meta
crashlytics-build.properties
*.blend1
*.blend1.meta

# Builds and packages
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# fbx files
*.fbx
*.fbx.meta
/Assets/Models/


